body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin-top: 40px;
}

.container {
    max-width: 800px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.camera-address {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1em;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}
