<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Overview</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Camera Overview</h1>

        <!-- Display camera snapshots -->
        <div class="row mb-5">
            {% for camera in cameras %}
                <div class="col-md-4 mb-4">
                    <a href="{{ url_for('stream', camera_id=loop.index0) }}">
                        <!-- Updated the img src to point to our new snapshot endpoint -->
                        <img src="{{ url_for('snapshot', ip=camera.ip, port=camera.port) }}" alt="Camera at {{ camera.ip }}:{{ camera.port }}" class="img-fluid">
                    </a>
                    <p class="mt-2">{{ camera.ip }}:{{ camera.port }}</p>

                    <!-- Display status and authentication link if required -->
                    {% if camera.status == "down" %}
                        <p class="text-danger">Not connecting</p>
                    {% elif camera.status == "up" %}
                        <p class="text-success">Connected</p>
                    {% endif %}
                    
                    {% if camera.auth_required %}
                        <p><a href="#" class="text-info">Authenticate Connection</a></p>
                        <!-- NOTE: Replace "#" with the actual authentication URL if you have one -->
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- Add a new camera -->
        <h2>Add New Camera</h2>
        <form action="{{ url_for('add_camera') }}" method="post" class="mb-5">
            <div class="form-group">
                <label for="ip">IP Address:</label>
                <input type="text" class="form-control" id="ip" name="ip" required>
            </div>
            <div class="form-group">
                <label for="port">Port:</label>
                <input type="text" class="form-control" id="port" name="port" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Camera</button>
        </form>
    </div>

    <!-- JS to refresh snapshots every 5 seconds -->
    <script>
        setInterval(function() {
            $('img').each(function() {
                var src = $(this).attr('src').split('?')[0]; // Get the original src without query parameters
                $(this).attr('src', src + '?' + new Date().getTime()); // Append the current time to force a refresh
            });
        }, 5000);
    </script>
</body>
</html>
