<!DOCTYPE html>
<html>
<head>
    <title>Camera Stream</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- HLS.js -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
    <div class="container mt-5">
        <a href="{{ url_for('index') }}" class="btn btn-primary mb-3">Back to Overview</a>
        <h1>Streaming from {{ camera.ip }}:{{ camera.port }}</h1>
        <video id="video" controls style="width: 100%; height: auto;"></video>
    </div>

    <script>
        if (Hls.isSupported()) {
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('/rtsp/{{ camera_id }}');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
                video.play();
            });
        }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = '/rtsp/{{ camera_id }}';
            video.addEventListener('loadedmetadata', function() {
                video.play();
            });
        }
    </script>
</body>
</html>
